description "Consul agent client for registering service to consul cluster"

start on (local-filesystems and net-device-up IFACE=eth0)
stop on runlevel [!12345]

limit nofile 4096 4096

respawn

pre-stop script
    consul maint -enable
    consul force-leave $(hostname -f)
end script

exec consul agent --enable-script-checks=true --config-dir=/etc/consul.d  > /var/log/consul/consul.log
