-----BEGIN CERTIFICATE-----
MIID8DCCAtigAwIBAgIJAJ757loTHbpxMA0GCSqGSIb3DQEBBQUAMFgxCzAJBgNV
BAYTAklEMRQwEgYDVQQIEwtKYWthcnRhLURLSTEQMA4GA1UEBxMHSmFrYXJ0YTEh
MB8GA1UEChMYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMB4XDTE2MDYyOTAzMjgz
MloXDTIwMDYyODAzMjgzMlowWDELMAkGA1UEBhMCSUQxFDASBgNVBAgTC0pha2Fy
dGEtREtJMRAwDgYDVQQHEwdKYWthcnRhMSEwHwYDVQQKExhJbnRlcm5ldCBXaWRn
aXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC18CjZ
vFtywu4cZwEl8JomXMja7yT5yrw4TUuml2ZILtP3RwnfHVqbeL3u8OQosLasejYQ
7XEXlEkIS1CopQv4KsopnoTbQkU8vSxaF29YcvlblsC3CXm1YVbEuR12ieLEeOkS
IJhV29QOmuscYEPKE4+HI7CyTKGkmCAgD7tb0yVYPZX+PGV1dxTMY4ZTh/dRGyqP
0O6cHaZV8GMjvZxycfbpH68Wk3UxXPxO1/ymXz2FAHzU0e6OIT0XYEgQ7ltgq6TB
aiL9IllX5WjQ8XBNw7fdd6+AdLutFU6GCFJ3A7V8LVGZ0HRUKL5trzEqTrlBVJ5G
VoEaHvUsttXR+OC1AgMBAAGjgbwwgbkwHQYDVR0OBBYEFBuPr82l1tXwduQhLVNK
NsQEdVivMIGJBgNVHSMEgYEwf4AUG4+vzaXW1fB25CEtU0o2xAR1WK+hXKRaMFgx
CzAJBgNVBAYTAklEMRQwEgYDVQQIEwtKYWthcnRhLURLSTEQMA4GA1UEBxMHSmFr
YXJ0YTEhMB8GA1UEChMYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkggkAnvnuWhMd
unEwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOCAQEAU6d9uVCU/O4a8ZKj
L5RlnskV9s/OZ7DQIH4E89vXd5md0Z7xWPjeGkI7KQnsLqrNlD7mn5F4+cwfgsoV
Wj5m7q1mBY0Hf6xq2x/tGBg5Vy8aCtfcigR1zlW4tnAqRsJPU6b5npQdioC+SLoL
+fpbBcETB7XTijddMTuYvwcIZCAKnyjxc4QTYgD4XLSHAo04wRJx1uPLuDotg1h0
K0JOjrL7dpQyYyCx8FFfndZbJhgJt0tXmipm8n016lxLUv9b6CNgwI/FnjwWCvjC
+Bb2uIGtbKZcZF4FZyOgs6CORb/fr3DmP5axFRo6ozIouMOtuWZInIah0n36X7Hj
VpW+iQ==
-----END CERTIFICATE-----
