{
    "bootstrap": false,
    "server": true,
    "datacenter": "{{ consul_dc }}",
    "data_dir": "/var/consul",
    "ui_dir": "/var/consul/ui",
    "encrypt": "LsuCqPNHRnGPw0wA8SMp2g==",
    "log_level": "INFO",
    "enable_syslog": true,
    "start_join": [
      {% for item in consul_hosts  %}
        "{{ item }}"{% if not loop.last %},{% endif %}
  
      {% endfor %}
    ],
    "addresses": {
        "http": "0.0.0.0"
    },
    "performance": {
        "raft_multiplier": 1
    }
}
