[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
LimitNOFILE=4096
EnvironmentFile=-/etc/sysconfig/consul
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/bin/sh -c "/usr/local/bin/consul agent --enable-script-checks=true --config-dir=/etc/consul.d > /var/log/consul/consul.log"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
